.header
{
    display: flex;
    width:auto;
    align-items: center;
    justify-content: space-between;
    margin-left: 280px;
    padding: 5px;
}
.search
{
    width: auto;
    display: flex;
    border: 1px solid black;
    border-radius:30px;
    padding:4px;
}

.search input{
    border: aqua;
}
.search img
{
    max-width:20px; max-height:20px;
}
.profile
{
    display: flex;
    gap:5px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 4px;
    background-color:whitesmoke;
}

.profileComponent
{
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid black;
    height: full;
    width:full;
}


.leftcontainer
{
    position: absolute;
    left: 0;
    top: 0;
    width:280px;
    height: 100vh;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top:10px;
    border: 1px solid blue;
}

.imagecontainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    background-color:#D9D9D9;
    height: 52px;
    border-radius: 20px;
}
.imagelogo
{
    width: 24px;
    height: 24px;
    color: grey;
}
.dashboardParent
{
    font:100;
    padding: 10px ;
}
.dashboardBottom
{
    padding-bottom: 20px;
}
.dashboardParent hr {

    border: 1px solid grey;
    width:full;
  }

.containermain
{
    border: 1px solid black;
    margin-left: 285px;
    margin-right: 1px;
}
.containermainchild
{
display: grid;
  grid-template-columns:2fr 1fr;
  height: 430px;
}
.overview
{
    border:1px solid black;
    height:430px;
}
.saving
{
    border: 1px solid black;
}
.overviewchild
{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.one
{
        border:1px solid black;
        background-color: blueviolet;
        border-radius: 30px;
        padding: 10px;
        color: white;
}
.two
{
        border:1px solid black;
        border-radius: 30px;
        padding: 10px;
        background-color: whitesmoke;
}
.savingchild
{
    border: 1px solid red;
}
.three
{
    border:1px solid black;
        border-radius: 30px;
        padding: 10px;
        background-color: whitesmoke;
}
.recent
{
    border:1px solid black;
}
.recentchild
{
    display: flex;
    justify-content:space-between;
    border: 1px solid red;
}